PHX_CRYPT_INIT_GUARD_EXISTING_MARIA_DB_DATA=true
PHX_CRYPT_INIT_GUARD_EXISTING_DOCKER_DATA=true

PHX_LDAP_ENABLED=true
PHX_AUTH_ENABLED=true
PHX_SECRETS_ENABLED=true
PHX_DOCS_ENABLED=true
PHX_SHEETS_ENABLED=true
PHX_DAV_ENABLED=true

PHX_LDAP_DOMAIN=ldap.your.domain # TODO
PHX_AUTH_DOMAIN=auth.your.domain # TODO
PHX_SECRETS_DOMAIN=secrets.your.domain # TODO
PHX_DOCS_DOMAIN=docs.your.domain # TODO
PHX_SHEETS_DOMAIN=sheets.your.domain # TODO
PHX_DAV_DOMAIN=dav.your.domain # TODO

PHX_LDAP_LDAP_NGINX_PORT=3890
PHX_LDAP_LDAPS_NGINX_PORT=6360
PHX_LDAP_HTTP_NGINX_PORT=80
PHX_LDAP_HTTPS_NGINX_PORT=443
PHX_AUTH_HTTP_NGINX_PORT=80
PHX_AUTH_HTTPS_NGINX_PORT=443
PHX_SECRETS_HTTP_NGINX_PORT=80
PHX_SECRETS_HTTPS_NGINX_PORT=443
PHX_DOCS_HTTP_NGINX_PORT=80
PHX_DOCS_HTTPS_NGINX_PORT=443
PHX_SHEETS_HTTP_NGINX_PORT=80
PHX_SHEETS_HTTPS_NGINX_PORT=443
PHX_DAV_HTTP_NGINX_PORT=80
PHX_DAV_HTTPS_NGINX_PORT=443

PHX_LDAP_LLDAP_IMAGE=stable-debian
PHX_AUTH_AUTHELIA_IMAGE=4
PHX_SECRETS_VAULTWARDEN_IMAGE=latest
PHX_DOCS_HEDGEDOC_IMAGE=1.10.3-debian
PHX_DOCS_IMAGE_COMPRESSOR_IMAGE=v1.0.0
PHX_SHEETS_GRIST_IMAGE=1
PHX_DAV_NEXTCLOUD_IMAGE=31-apache

PHX_LDAP_LDAP_CONTAINER_PORT=3890
PHX_LDAP_LDAPS_CONTAINER_PORT=6360
PHX_LDAP_HTTP_CONTAINER_PORT=17170
PHX_AUTH_HTTP_CONTAINER_PORT=9091
PHX_SECRETS_HTTP_CONTAINER_PORT=80
PHX_DOCS_HTTP_CONTAINER_PORT=3000
PHX_SHEETS_HTTP_CONTAINER_PORT=8484
PHX_DAV_HTTP_CONTAINER_PORT=80

PHX_APP_SUPER_USER_ID=super-user # TODO
PHX_APP_SUPER_USER_EMAIL=super-user@some.domain # TODO

PHX_LDAP_LLDAP_BASE_DN=dc=your,dc=domain # TODO
PHX_LDAP_LLDAP_USER_DN=ldap-admin
PHX_LDAP_LLDAP_USER_EMAIL=ldap-admin@your.domain # TODO
PHX_LDAP_LLDAP_SMTP_OPTIONS_ENABLE_PASSWORD_RESET=true
PHX_LDAP_LLDAP_SMTP_OPTIONS_SERVER=smtp.some.domain # TODO
PHX_LDAP_LLDAP_SMTP_OPTIONS_PORT=587 # TODO
PHX_LDAP_LLDAP_SMTP_OPTIONS_SMTP_ENCRYPTION=STARTTLS # TODO
PHX_LDAP_LLDAP_SMTP_OPTIONS_USER=mail-relay@your.domain # TODO
PHX_LDAP_LLDAP_SMTP_OPTIONS_PASSWORD=XXXXXXXX # TODO
PHX_LDAP_LLDAP_SMTP_OPTIONS_FROM='LDAP <mail-relay@your.domain>' # TODO
PHX_LDAP_LLDAP_SMTP_REPLY_TO='Admin <admin@your.domain>' # TODO

PHX_AUTH_AUTHELIA_LDAP_UID=app-auth-authelia
PHX_AUTH_AUTHELIA_LDAP_EMAIL=app-auth-authelia@your.domain # TODO (recc. keep 'app' prefix)
PHX_AUTH_AUTHELIA_AUTHENTICATION_BACKEND_PASSWORD_RESET_DISABLE=false
PHX_AUTH_AUTHELIA_TOTP_ISSUER='Auth' # TODO
PHX_AUTH_AUTHELIA_WEB_AUTHN_DISPLAY_NAME='Auth' # TODO
PHX_AUTH_AUTHELIA_NOTIFIER_SMTP_ADDRESS=smtp://smtp.some.domain:587 # TODO
PHX_AUTH_AUTHELIA_NOTIFIER_SMTP_USERNAME=mail-relay@your.domain # TODO
PHX_AUTH_AUTHELIA_NOTIFIER_SMTP_PASSWORD=XXXXXXXX # TODO
PHX_AUTH_AUTHELIA_NOTIFIER_SMTP_SENDER='Auth <mail-relay@your.domain>' # TODO
PHX_AUTH_AUTHELIA_IDENTITY_PROVIDERS_OIDC_CLIENTS_DOCS_CLIENT_NAME='Docs' # TODO
PHX_AUTH_AUTHELIA_IDENTITY_PROVIDERS_OIDC_CLIENTS_SHEETS_CLIENT_NAME='Sheets' # TODO
# ---
PHX_AUTH_AUTHELIA_AUTHENTICATION_BACKEND_LDAP_IMPLEMENTATION_OVERRIDE=
PHX_AUTH_AUTHELIA_AUTHENTICATION_BACKEND_LDAP_PROTOCOL_OVERRIDE=
PHX_AUTH_AUTHELIA_AUTHENTICATION_BACKEND_LDAP_HOST_OVERRIDE=
PHX_AUTH_AUTHELIA_AUTHENTICATION_BACKEND_LDAP_PORT_OVERRIDE=
PHX_AUTH_AUTHELIA_AUTHENTICATION_BACKEND_LDAP_BASE_DN_OVERRIDE=
PHX_AUTH_AUTHELIA_AUTHENTICATION_BACKEND_LDAP_USER_OVERRIDE=
PHX_AUTH_AUTHELIA_AUTHENTICATION_BACKEND_LDAP_ADDITIONAL_USERS_DN_OVERRIDE=
PHX_AUTH_AUTHELIA_AUTHENTICATION_BACKEND_LDAP_PASSWORD_OVERRIDE=
PHX_AUTH_AUTHELIA_AUTHENTICATION_BACKEND_LDAP_USERS_FILTER_OVERRIDE="(&(|({username_attribute}={input})({mail_attribute}={input}))(objectClass=person)(memberOf=cn=authorized-users,ou=groups,$PHX_LDAP_LLDAP_BASE_DN))"

PHX_SECRETS_VAULTWARDEN_INVITATION_ORG_NAME='Secrets' # TODO
PHX_SECRETS_VAULTWARDEN_SMTP_HOST=smtp.your.domain # TODO
PHX_SECRETS_VAULTWARDEN_SMTP_FROM=mail-relay@your.domain # TODO
PHX_SECRETS_VAULTWARDEN_SMTP_FROM_NAME='Secrets' # TODO
PHX_SECRETS_VAULTWARDEN_SMTP_USERNAME=mail-relay@your.domain # TODO
PHX_SECRETS_VAULTWARDEN_SMTP_PASSWORD=XXXXXXXX # TODO
PHX_SECRETS_VAULTWARDEN_SMTP_SECURITY=starttls # TODO
PHX_SECRETS_VAULTWARDEN_SMTP_PORT=587 # TODO

PHX_DOCS_HEDGEDOC_OAUTH2_PROVIDERNAME='Auth' # TODO
PHX_DOCS_HEDGEDOC_OAUTH2_ACCESS_ROLE=authorized-users
# ---
PHX_DOCS_HEDGEDOC_OAUTH2_AUTHORIZATION_URL_OVERRIDE=
PHX_DOCS_HEDGEDOC_OAUTH2_TOKEN_URL_OVERRIDE=
PHX_DOCS_HEDGEDOC_OAUTH2_USER_PROFILE_URL_OVERRIDE=
PHX_DOCS_HEDGEDOC_OAUTH2_CLIENT_ID_OVERRIDE=
PHX_DOCS_HEDGEDOC_OAUTH2_CLIENT_SECRET_OVERRIDE=
PHX_DOCS_HEDGEDOC_OAUTH2_SCOPE_OVERRIDE=
PHX_DOCS_HEDGEDOC_OAUTH2_USER_PROFILE_USERNAME_ATTR_OVERRIDE=
PHX_DOCS_HEDGEDOC_OAUTH2_USER_PROFILE_DISPLAY_NAME_ATTR_OVERRIDE=
PHX_DOCS_HEDGEDOC_OAUTH2_USER_PROFILE_EMAIL_ATTR_OVERRIDE=
PHX_DOCS_HEDGEDOC_OAUTH2_ROLES_CLAIM_OVERRIDE=

PHX_SHEETS_GRIST_OIDC_IDP_ISSUER_OVERRIDE=
PHX_SHEETS_GRIST_OIDC_IDP_CLIENT_ID_OVERRIDE=
PHX_SHEETS_GRIST_OIDC_IDP_CLIENT_SECRET_OVERRIDE=
PHX_SHEETS_GRIST_OIDC_IDP_END_SESSION_ENDPOINT_OVERRIDE=

PHX_DAV_NEXTCLOUD_LDAP_UID=app-dav-nextcloud
PHX_DAV_NEXTCLOUD_LDAP_EMAIL=app-dav-nextcloud@your.domain # TODO (recc. keep 'app' prefix)
PHX_DAV_NEXTCLOUD_SMTP_HOST=smtp.some.domain # TODO
PHX_DAV_NEXTCLOUD_SMTP_SECURE=STARTTLS # TODO
PHX_DAV_NEXTCLOUD_SMTP_PORT=587 # TODO
PHX_DAV_NEXTCLOUD_SMTP_AUTHTYPE=LOGIN # TODO
PHX_DAV_NEXTCLOUD_SMTP_NAME=mail-relay@your.domain # TODO
PHX_DAV_NEXTCLOUD_SMTP_PASSWORD=XXXXXXXX # TODO
PHX_DAV_NEXTCLOUD_MAIL_FROM_ADDRESS=mail-relay # TODO
PHX_DAV_NEXTCLOUD_MAIL_DOMAIN=your.domain # TODO