PHX_PLATFORM_INIT_FEATURE_SET=${PHX_PLATFORM_INIT_FEATURE_SET}
PHX_PLATFORM_INIT_VERSION=${PHX_PLATFORM_INIT_VERSION}

PHX_PLATFORM_INIT_GENERATED_PORTS=${PHX_PLATFORM_INIT_GENERATED_PORTS}

PHX_PLATFORM_INIT_INSTALLED_NGINX=${PHX_PLATFORM_INIT_INSTALLED_NGINX}
PHX_NGINX_STATUS_PORT=${PHX_NGINX_STATUS_PORT}

PHX_PLATFORM_INIT_INSTALLED_MARIA_DB=${PHX_PLATFORM_INIT_INSTALLED_MARIA_DB}
PHX_MYSQL_UID=${PHX_MYSQL_UID}
PHX_MYSQL_GID=${PHX_MYSQL_GID}

PHX_PLATFORM_INIT_INSTALLED_DOCKER=${PHX_PLATFORM_INIT_INSTALLED_DOCKER}

PHX_PLATFORM_INIT_INSTALLED_CRYPTS=${PHX_PLATFORM_INIT_INSTALLED_CRYPTS}

PHX_PLATFORM_INIT_INSTALLED_CRYPT_MOUNT_SCRIPT=${PHX_PLATFORM_INIT_INSTALLED_CRYPT_MOUNT_SCRIPT}