PHX_CPU_HAS_AES_NI=${CPU_HAS_AES_NI}

PHX_PLATFORM_INIT_INSTALLED_MSMTP=${PHX_PLATFORM_INIT_INSTALLED_MSMTP}

PHX_PLATFORM_INIT_CONFIGURED_JOURNAL_D=${PHX_PLATFORM_INIT_CONFIGURED_JOURNAL_D}

PHX_PLATFORM_INIT_INSTALLED_SWAP_FILE=${PHX_PLATFORM_INIT_INSTALLED_SWAP_FILE}
PHX_SYSTEM_HAS_UNMANAGED_SWAP=${PHX_SYSTEM_HAS_UNMANAGED_SWAP}

PHX_PLATFORM_INIT_INSTALLED_SYSTEM_METRICS_EXPORTER=${PHX_PLATFORM_INIT_INSTALLED_SYSTEM_METRICS_EXPORTER}
PHX_SYSTEM_METRICS_PORT=${PHX_SYSTEM_METRICS_PORT}

PHX_PLATFORM_INIT_INSTALLED_NGINX_METRICS_EXPORTER=${PHX_PLATFORM_INIT_INSTALLED_NGINX_METRICS_EXPORTER}
PHX_NGINX_METRICS_PORT=${PHX_NGINX_METRICS_PORT}

PHX_PLATFORM_INIT_INSTALLED_MARIA_DB_METRICS_EXPORTER=${PHX_PLATFORM_INIT_INSTALLED_MARIA_DB_METRICS_EXPORTER}
PHX_MARIA_DB_METRICS_PORT=${PHX_MARIA_DB_METRICS_PORT}

PHX_DOCKER_METRICS_PORT=${PHX_DOCKER_METRICS_PORT}