PHX_CRYPT_INIT_FEATURE_SET=${PHX_CRYPT_INIT_FEATURE_SET}
PHX_CRYPT_INIT_VERSION=${PHX_CRYPT_INIT_VERSION}

PHX_CRYPT_INIT_GENERATED_PORTS=${PHX_CRYPT_INIT_GENERATED_PORTS}

PHX_CRYPT_INIT_COMMON_INIT_STATE=${PHX_CRYPT_INIT_COMMON_INIT_STATE}

PHX_CRYPT_INIT_INSTALLED_MARIA_DB=${PHX_CRYPT_INIT_INSTALLED_MARIA_DB}
PHX_MARIA_DB_ROOT_DB_PASSWORD=${PHX_MARIA_DB_ROOT_DB_PASSWORD}

PHX_CRYPT_INIT_INSTALLED_DOCKER=${PHX_CRYPT_INIT_INSTALLED_DOCKER}

PHX_CRYPT_INIT_INSTALLED_LDAP=${PHX_CRYPT_INIT_INSTALLED_LDAP}
PHX_LDAP_LDAP_PORT=${PHX_LDAP_LDAP_PORT}
PHX_LDAP_LDAPS_PORT=${PHX_LDAP_LDAPS_PORT}
PHX_LDAP_HTTP_PORT=${PHX_LDAP_HTTP_PORT}
PHX_LDAP_LLDAP_DB_PASSWORD=${PHX_LDAP_LLDAP_DB_PASSWORD}
PHX_LDAP_LLDAP_JWT_SECRET=${PHX_LDAP_LLDAP_JWT_SECRET}
PHX_LDAP_LLDAP_USER_PASS=${PHX_LDAP_LLDAP_USER_PASS}
PHX_LDAP_LLDAP_KEY_SEED=${PHX_LDAP_LLDAP_KEY_SEED}

PHX_CRYPT_INIT_INSTALLED_AUTH=${PHX_CRYPT_INIT_INSTALLED_AUTH}
PHX_AUTH_HTTP_PORT=${PHX_AUTH_HTTP_PORT}
PHX_AUTH_AUTHELIA_DB_PASSWORD=${PHX_AUTH_AUTHELIA_DB_PASSWORD}
PHX_AUTH_AUTHELIA_LDAP_PASSWORD=${PHX_AUTH_AUTHELIA_LDAP_PASSWORD}
PHX_AUTH_AUTHELIA_IDENTITY_VALIDATION_PASSWORD_RESET_JWT_SECRET=${PHX_AUTH_AUTHELIA_IDENTITY_VALIDATION_PASSWORD_RESET_JWT_SECRET}
PHX_AUTH_AUTHELIA_STORAGE_ENCRYPTION_KEY=${PHX_AUTH_AUTHELIA_STORAGE_ENCRYPTION_KEY}
PHX_AUTH_AUTHELIA_IDENTITY_PROVIDERS_OIDC_HMAC_SECRET=${PHX_AUTH_AUTHELIA_IDENTITY_PROVIDERS_OIDC_HMAC_SECRET}
PHX_AUTH_AUTHELIA_IDENTITY_PROVIDERS_OIDC_CLIENTS_CLIENT_SECRET_DOCS='${PHX_AUTH_AUTHELIA_IDENTITY_PROVIDERS_OIDC_CLIENTS_CLIENT_SECRET_DOCS}'
PHX_AUTH_AUTHELIA_IDENTITY_PROVIDERS_OIDC_CLIENTS_CLIENT_SECRET_SHEETS='${PHX_AUTH_AUTHELIA_IDENTITY_PROVIDERS_OIDC_CLIENTS_CLIENT_SECRET_SHEETS}'

PHX_CRYPT_INIT_INSTALLED_SECRETS=${PHX_CRYPT_INIT_INSTALLED_SECRETS}
PHX_SECRETS_HTTP_PORT=${PHX_SECRETS_HTTP_PORT}
PHX_SECRETS_VAULTWARDEN_DB_PASSWORD=${PHX_SECRETS_VAULTWARDEN_DB_PASSWORD}
PHX_SECRETS_VAULTWARDEN_ADMIN_TOKEN=${PHX_SECRETS_VAULTWARDEN_ADMIN_TOKEN}
PHX_SECRETS_VAULTWARDEN_ADMIN_TOKEN_HASH='${PHX_SECRETS_VAULTWARDEN_ADMIN_TOKEN_HASH}'

PHX_CRYPT_INIT_INSTALLED_DOCS=${PHX_CRYPT_INIT_INSTALLED_DOCS}
PHX_DOCS_HTTP_PORT=${PHX_DOCS_HTTP_PORT}
PHX_DOCS_HEDGEDOC_DB_PASSWORD=${PHX_DOCS_HEDGEDOC_DB_PASSWORD}
PHX_DOCS_OIDC_CLIENT_ID=${PHX_DOCS_OIDC_CLIENT_ID}
PHX_DOCS_OIDC_CLIENT_SECRET=${PHX_DOCS_OIDC_CLIENT_SECRET}
PHX_DOCS_HEDGEDOC_SESSION_SECRET=${PHX_DOCS_HEDGEDOC_SESSION_SECRET}

PHX_CRYPT_INIT_INSTALLED_SHEETS=${PHX_CRYPT_INIT_INSTALLED_SHEETS}
PHX_SHEETS_HTTP_PORT=${PHX_SHEETS_HTTP_PORT}
PHX_SHEETS_OIDC_CLIENT_ID=${PHX_SHEETS_OIDC_CLIENT_ID}
PHX_SHEETS_OIDC_CLIENT_SECRET=${PHX_SHEETS_OIDC_CLIENT_SECRET}

PHX_CRYPT_INIT_INSTALLED_DAV=${PHX_CRYPT_INIT_INSTALLED_DAV}
PHX_DAV_HTTP_PORT=${PHX_DAV_HTTP_PORT}
PHX_DAV_NEXTCLOUD_DB_PASSWORD=${PHX_DAV_NEXTCLOUD_DB_PASSWORD}
PHX_DAV_NEXTCLOUD_LDAP_PASSWORD=${PHX_DAV_NEXTCLOUD_LDAP_PASSWORD}
PHX_DAV_NEXTCLOUD_ADMIN_PASSWORD=${PHX_DAV_NEXTCLOUD_ADMIN_PASSWORD}

PHX_CRYPT_INIT_INSTALLED_ADMIN_SCRIPTS=${PHX_CRYPT_INIT_INSTALLED_ADMIN_SCRIPTS}